<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <!--
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    -->

    <!-- Spring Security -->

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>
            org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring MVC -->

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!-- MIME types configuration -->

    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>js</extension>
        <mime-type>text/javascript</mime-type>
    </mime-mapping>

    <!-- captcha -->

    <servlet>
        <servlet-name>captcha</servlet-name>
        <servlet-class>cl.renetapia.embeddedcontrol.ares.business.application.captcha.CageCaptchaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>captcha</servlet-name>
        <url-pattern>/images/captcha</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>This the (writable) folder where the file processing is going to be done</description>
        <param-name>working-location</param-name>
        <param-value>C:\elibatt\working-dir</param-value>
    </context-param>

    <context-param>
        <description>This the (readable) folder where the processed files are stored in order to be downloaded</description>
        <param-name>downloads-location</param-name>
        <param-value>C:\elibatt\downloads-dir</param-value>
    </context-param>

</web-app>
